{% extends "base.html" %} {% block title %}Online Voting System{% endblock %} {% block content
%}
<h1 align="center">Online Voting System</h1>
<h4 align= "center"> Cast Your Votes!</h4align> </h4>
<br></br>
<div class="container" style="text-align: center;">
  <form method="POST" action="{{ url_for('views.cast_vote') }}">
    <p>Who should be the leader of the current project?</p>
    <input type="radio" name="voted_candidate" value="Candidate 1"> Candidate 1<br>
    <input type="radio" name="voted_candidate" value="Candidate 2"> Candidate 2<br>
    <input type="radio" name="voted_candidate" value="Candidate 3"> Candidate 3<br>
    <input type="radio" name="voted_candidate" value="Candidate 4"> Candidate 4<br>
    <input type="radio" name="voted_candidate" value="Candidate 5"> Candidate 5<br>
    <input type="radio" name="voted_candidate" value="Candidate 6"> Candidate 6<br>
    <input type="radio" name="voted_candidate" value="Candidate 7"> Candidate 7<br>
    <input type="radio" name="voted_candidate" value="Candidate 8"> Candidate 8<br>
    <input type="radio" name="voted_candidate" value="Candidate 9"> Candidate 9<br>
    <input type="radio" name="voted_candidate" value="Candidate 10"> Candidate 10<br>
    <input type="radio" name="voted_candidate" value="Candidate 11"> Candidate 11<br>
    <input type="radio" name="voted_candidate" value="Candidate 12"> Candidate 12<br>
    <input type="radio" name="voted_candidate" value="Candidate 13"> Candidate 13<br>
    <input type="radio" name="voted_candidate" value="Candidate 14"> Candidate 14<br>
    <input type="radio" name="voted_candidate" value="Candidate 15"> Candidate 15<br>
    <input type="radio" name="voted_candidate" value="Candidate 16"> Candidate 16<br>
    <input type="radio" name="voted_candidate" value="Candidate 17"> Candidate 17<br>
    <input type="radio" name="voted_candidate" value="Candidate 18"> Candidate 18<br>
    <input type="radio" name="voted_candidate" value="Candidate 19"> Candidate 19<br>
    <input type="radio" name="voted_candidate" value="Candidate 20"> Candidate 20<br>

    <br><br>
    <button type="submit" align="center">Cast Vote</button>
</form>
    <br>
    <br>
</div>
<br></br>

<h4 align= "center"> Comment Section</h4align> </h4>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Leave a comment!</button>
  </div>
</form>
<br></br>
{% endblock %}
